<h1>Your Goals</h1>

<br>

<% counter = 1 %>

<div class="row">

	<% @lists.each do |list| %>
		<div class="list-box col-md-3">
			<div class="list-box-contents">
				<p><strong><%= link_to list.title, list_path(list) %></strong></p>
				<p>
					<%= link_to edit_list_path(list) do %>
						<i class="fa fa-pencil fa-2" style="color:#B24700"></i>
					<% end %>
					&nbsp
					<%= link_to list_path(list), method: :delete, data: { confirm: "Are you sure?" } do %>
						<i class="fa fa-times fa-4" style="color:#FF6666"></i>
					<% end %>
				</p>
			</div>
		</div>
	<% end %>

	<div class="list-box col-md-3">	
	  <div class="list-box-contents">
	  	<a href="lists/new"><button type="button" class="btn btn-lg btn-primary">+</button></a>
		</div>
	</div>

</div>


