<h1>Your Goals</h1>

<br>
<% counter = 1 %>
<div class="center">
	<% @lists.each do |list| %>
		<div class="col-md-4 list-box">
			<div class="list-box-contents">
				<%= link_to list.title, list_path(list) %>
			</div>
		</div>

		<% counter += 1 %>

		<% if counter > 3 %>
			<% counter = 1 %>		
			<div class="row"></div>
		<% end %>
	<% end %>


	<% if counter > 3 %>
	  <div class="row col-md-4 list-box">
	  	<a href="lists/new"><button type="button" class="btn btn-lg btn-primary new-list-button">+</button></a>
		</div>
	<% else %>
		<div class="col-md-4 list-box">
			<a href="lists/new"><button type="button" class="btn btn-lg btn-primary new-list-button">+</button></a>
		</div>
	<% end %>

</div>
