<h1>Welcome to Toodoo!</h1><br>

<p>Toodoo is a simple to-do list app. Users can create an account and keep track of personal goals, which can be divided into subgoals. Have fun and enjoy being productive!</p>

<br>

<p>Toodoo was created by me, Luc Sinex, as a sample portfolio application. I am currently seeking employment as a web developer using Ruby on Rails. Please contact me at lucsinex at gmail dot com. Thanks!</p>
