@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin add-border {
	border-radius: 25px;
	border-color: gray-lighter;
	border-style: ridge;
	border-width: 5px;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.border {
	@include add-border;
}

.content {
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	box-sizing: border-box;

	
}

.subgoals {
	width: 400px;
}

.list-box {
	height: 125px;
	width: 150px;
	
	@include add-border;	
}

.list-box-contents {
	text-align: center;

	@include vertical-align;

	overflow: auto;

	font-size:1.3em;
}

.center {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.subgoals-table {
	padding: 20px;
	padding-bottom: 10px;
}
