@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Mixins */

@mixin add-border {
	border-radius: 25px;
	border-color: gray-lighter;
	border-style: ridge;
	border-width: 5px;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin background-grad {
	background: linear-gradient(#FFFFFF, #CCCCCC);
}

.border {
	@include add-border;
}

.content {
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	box-sizing: border-box;

	
}

.nav {
	padding-right:200px;
}

.container {
	background: #E6E6E6;
	border-radius: 15px;

	padding: 50px;
	padding-top: 30px;

	margin-top:70px;
}

.narrow {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}


.subgoals {
	width: 400px;

	@include background-grad;
}

.list-box {
	height: 125px;
	width: 150px;

	@include background-grad;	
	
	@include add-border;	
}

.list-box-contents {
	text-align: center;
	padding-top: 10px;

	@include vertical-align;

	overflow: auto;

	font-size:1.3em;
}

.new-list {
	@include vertical-align;
	text-align: center;
	padding-top: 0px;
}

.center {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.subgoals-table {
	padding: 20px;
	padding-bottom: 10px;
}

a {
	&:link {
		text-decoration: none;
	}

	&:hover {
		color: black;
	}
}

h1 {
	letter-spacing: -2px;
}

h2 {
	letter-spacing: -2px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

header {
	margin-bottom: 25px;
	padding-bottom: 5px;
}

header ul {
	float: right;
	list-style: none;
}

.navbar-brand {
	padding-left: 150px;
	font-size: 2.5em;
}